#footer{background: white;padding: 30px 0 0}

.footer_info {display: flex;margin: 0 0 5px;
  strong {min-width: 80px;
    .fa-headset {margin: 0 5px 0 0}
    .fa-map-marker-alt {margin: 0 8px 0 0}
  }
  a {color: $color-text}
  p {margin: 0}
}
.footer_logo {margin: 0 0 15px;
  a {display: block;font-size: 0}
  img {width: 200px}
}
.footer_col {}
.footer_col_name {font-weight: $font-bold;font-size: $font-size-m;margin: 0 0 15px}
.footer_body {margin: 0 0 20px}
.footer_menu {
  @extend %reset-lst;
}
.footer_menu_item {background: url("../images/menu-footer-dots.svg") no-repeat 0 50%;padding: 0 0 0 15px;margin: 5px 0;
  a {color: $color-text;display: inline-block;
    &:hover {color: $color-orange}
  }
}

.fanpage {margin: 0 0 15px}
.footer_app_btn {display: flex;justify-content: space-between;
  a:hover{opacity: 0.7}
}