#header {background: $color-orange;color: white;padding: 10px 0;position: relative;z-index: 1;min-height: 55px;width: 100%;
  @include transition(all .3s ease);
  &.fixed {position: fixed;top: 0}
}
.header_container {display: flex;align-items: center}
.header_col {
  &--left {display: flex;align-items: center;justify-content: flex-start}
  &--center {flex: 1;padding: 0 5px;min-width: 0;
    @include transition(all .3s ease);
  }
  &--right {display: flex;align-items: center;justify-content: flex-end}
}
.header_button_icon {}
.header_search {background: white;display: flex;align-items: center;
  @include border-radius(5px);
}
.header_search_input {width: 100%;border: none}
.header_search_icon {color: $color-orange;padding: 5px 8px;
  i {}
}
.header_button_icon {display: block;color: white;font-size: $font-size-b;text-align: center;padding: 5px;min-width: 32px;
  &:hover {color: white}
  &.header_hamburger_icon {}
  &.header_user_icon {}
  &.header_button_search {}
  &.header_button_more {}
}

.header_title {font-size: $font-size-m;font-weight: $font-regular;margin: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.header_select {position: relative;
  &.open {
    .header_options {opacity: 1;visibility: visible;
      @include translate(0,0);
    }
  }
}
.header_options {padding-top: 10px;position: absolute;top: 35px;right: 0;opacity: 0;visibility: hidden;min-width: 200px;
  &::before {content: '';display: block;position: absolute;top: 0;right: 5px;
    @include css-triangle(top,white,10px,20px);
  }
  @include transition(all .3s ease);
  @include translate(0,-15px);
}
.header_options_inner {background: white;text-align: left;font-size: $font-size-s;padding: 8px;max-height: 300px;overflow: auto;
  @include box-shadow(0,2px,5px,rgba(0,0,0, 0.2));
}
.header_option_item {display: block;padding: 10px 5px;
  @include truncate(100%);
  i {margin: 0 5px 0 0;vertical-align: middle}
}