.menu_mobile_left {
  .mm-listview {background: white}
  .menu_mobile_icon {color: inherit}
}

.menu_mobile_footer {padding: 8px}
.menu_mobile_support {
  a {margin-bottom: 8px;color: white !important;}
}

.menu_mobile_user {display: flex;align-items: center;color: white}
.menu_mobile_user_avarta {display: block;width: 40px;height: 40px;margin: 0 10px 0 0;overflow: hidden;
  @include border-radius(50%);
  img {}
}
.menu_mobile_user_info {}
.menu_mobile_user_name {margin: 0 0 5px;font-weight: $font-regular}
.menu_mobile_user_level {}