#nav_main {background: white;position: fixed;width: 100%;bottom: 0;border-top: solid 1px $color-gray}
.nav_main_lst {display: flex;
  @extend %reset-lst;
}
.nav_main_item {width: 25%;min-height: 64px;}
.nav_main_url {display: flex;justify-content: center;flex-direction: column;align-items: center;font-weight: $font-medium;height: 100%;
  i {margin: 0 0 5px;font-size: $font-size-m;}
  span {font-size: $font-size-xs;
    @media (min-width: $bp-md) {
      font-size: $font-size-s;
    }
  }
}