<!--=======================HEADER=======================-->
<header id="header">
    <div class="container-custom header_container">
        <div class="header_col header_col--left">
            <a href="javascript:void(0)" title="" class="header_button_icon header_hamburger_icon">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <div class="header_col header_col--center">
            <div class="header_search">
                <div class="input_common input_common--medium header_search_input">Bạn cần tìm gì...</div>
                <a href="javascript:void(0)" class="header_search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
        <div class="header_col header_col--right">
            <a href="javascript:void(0)" title="" class="header_button_icon header_user_icon">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->