<!--=======================HEADER=======================-->
<header id="header">
    <div class="container-custom header_container">
        <div class="header_col header_col--left">
            <a href="#" title="" class="header_button_icon header_back">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <div class="header_col header_col--center">
            <h2 class="header_title">{{ title }}</h2>
        </div>
        <div class="header_col header_col--right">

        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->