<!--=======================HEADER=======================-->
<header id="header">
    <div class="container-custom header_container">
        <div class="header_col header_col--left">
            <a href="javascript:void(0)" title="" class="header_button_icon header_back">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <div class="header_col header_col--center">
            <h2 class="header_title">{{ title }}</h2>
        </div>
        <div class="header_col header_col--right">
            <a href="javascript:void(0)" title="" class="header_button_icon header_button_search">
                <i class="fas fa-search"></i>
            </a>
            <div class="header_button_icon header_button_more header_select">
                <i class="fas fa-ellipsis-v"></i>
                <div class="header_options">
                    <div class="header_options_inner">
                        <a href="#" class="header_option_item" title="Trang chủ">
                            <i class="fas fa-home"></i> Trang chủ
                        </a>
                        <a href="#" class="header_option_item" title="Quản lý tài khoản">
                            <i class="fas fa-user"></i> Quản lý tài khoản
                        </a>
                        <a href="#" class="header_option_item" title="Danh mục sản phẩm">
                            <i class="fas fa-th"></i> Danh mục sản phẩm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->