<div class="block_container" id="">
    <div class="block_header">
        <h3 class="block_title">Gợi ý dành cho bạn</h3>
        <a href="/supplier-recommended.html" class="block_header_more">Xem thêm <i class="fas fa-angle-right"></i></a>
    </div>
    <div class="block_body">
        <div class="category_grid">
            <div class="category_grid_row scroll_mobile_h">
                {% for i in 0..7 %}
                    <div class="category_grid_col category_grid_col--2-item">
                        <a href="#" class="category_grid_item">
                            <img src="http://placehold.jp/230x195.png" alt=""/>
                        </a>
                        <a href="#" class="category_grid_item">
                            <img src="http://placehold.jp/230x195.png" alt=""/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>