<div class="history_exchange">
    <div class="history_exchange_header">
        <h3 class="history_exchange_title">Lịch sử giao dịch</h3>
    </div>
    <div class="history_exchange_body">
        {% for i in 0..3 %}
        <div class="history_exchange_item">
            <div class="history_exchange_code">
                Mã GD: <span class="color_orange">#ICB2911994</span> - 04:23 - 20/03/2019
            </div>
            <div class="history_exchange_content">
                Chúc mừng sinh nhật ban!
            </div>
            <div class="history_exchange_detail">
                <table class="history_exchange_tbl">
                    <tr>
                        <td>Nạp tiền:</td>
                        <td>
                            <span class="color_orange">Đang xử lý</span><br/>
                            <span class="color_green font_size_14">+ 60,000,000đ</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Điểm cộng:</td>
                        <td><span class="color_green">+60</span></td>
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>