<div id="modal_after_set_price" class="modal modal_primary modal_set_price_success">
    <div class="modal_body">
        {#Trường hợp thành công thì class: modal_set_price_success#}
        <div class="set_price_result mb-3">
            <span class="set_price_icon">
                <i class="far fa-check-circle"></i>
            </span>
            <br/>
            Giá thầu của bạn đã được đặt thành công!
        </div>
        {#Trường hợp thành công thì class: modal_set_price_error#}
        {#<div class="set_price_result mb-3">
            <span class="set_price_icon">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <br/>
            Giá thầu của bạn đã được đặt thành công!
        </div>#}
        <div class="modal_group_button">
            <a href="#" class="button_secondary button_micro">Về Y! Aucton</a>
            <a href="#" class="button_secondary button_micro">Danh sách đấu </a>
        </div>
        <p class="text_center">
            Hãy tiếp tục trải nghiệm phương thức mua hàng độc đáo cùng iChiba!
        </p>
    </div>
    <div class="modal_footer">
        <a href="javascript:void(0)" class="button_primary button_small button_full" rel="modal:close">Đóng</a>
    </div>
</div>