<div id="modal_sort" class="modal modal_primary">
    <div class="modal_header">
        <h4 class="modal_title">Sắp xếp</h4>
    </div>
    <div class="modal_body">
        <div class="modal_sort_options">
            <div class="option_style">
                <input type="radio" name="option_sort_price" class="option_style_input" id="option_high_to_low" />
                <label for="option_high_to_low" class="option_style_label">Thấp đến cao</label>
            </div>
            <div class="option_style">
                <input type="radio" name="option_sort_price" class="option_style_input" id="option_low_to_high" />
                <label for="option_low_to_high" class="option_style_label">Cao đến thấp</label>
            </div>
            <div class="option_style">
                <input type="checkbox" name="option_sort" class="option_style_input" id="option_time" />
                <label for="option_time" class="option_style_label">Thời gian còn lại</label>
            </div>
            <div class="option_style">
                <input type="checkbox" name="option_sort" class="option_style_input" id="option_number_auction" />
                <label for="option_number_auction" class="option_style_label">Số lượt đấu</label>
            </div>
            <div class="option_style">
                <input type="checkbox" name="option_sort" class="option_style_input" id="option_buy_now" />
                <label for="option_buy_now" class="option_style_label">Giá mua ngay</label>
            </div>
            <div class="option_style">
                <input type="checkbox" name="option_sort" class="option_style_input" id="option_price_current" />
                <label for="option_price_current" class="option_style_label">Giá hiện tại</label>
            </div>
            <div class="option_style">
                <input type="checkbox" name="option_sort" class="option_style_input" id="option_newest" />
                <label for="option_newest" class="option_style_label">Hàng mới</label>
            </div>
            <div class="option_style">
                <input type="checkbox" name="option_sort" class="option_style_input" id="option_used" />
                <label for="option_used" class="option_style_label">Đã sử dụng</label>
            </div>
        </div>
    </div>
    <div class="modal_footer">
        <a href="javascript:void(0)" class="button_primary button_full button_small">Hoàn tất</a>
    </div>
</div>