<div id="modal_complain" class="modal modal_primary">
    <div class="modal_header">
        <h4 class="modal_title">Kiếu nại đơn hàng</h4>
    </div>
    <div class="modal_body">
        <form action="" class="complain_form">
            <textarea class="input_common" name="" id="" width="100%" rows="10">
                Nội dung khiếu nại...
            </textarea>
            <div class="complain_images">
                {% for i in 0..3 %}
                <div class="complain_image_item">
                    <img src="http://placehold.jp/60x60.png" alt="" />
                </div>
                {% endfor %}
                <a href="#" class="complain_add_image">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <p>Thêm hình ảnh trực quan bằng chứng khiếu nại</p>
        </form>
    </div>
    <div class="modal_footer">
        <div class="modal_group_button">
            <a href="#" class="button_secondary button_tiny" rel="modal:close">Huỷ</a>
            <button type="submit" class="button_primary button_tiny">Gửi</button>
        </div>
    </div>
</div>