<div id="modal_tracking_order" class="modal modal_primary">
    <div class="modal_header">
        <h4 class="modal_title"><i class="far fa-clipboard"></i> Theo dõi đơn hàng</h4>
    </div>
    <div class="modal_body">
        <div class="tracking_order">
            <form action="" class="tracking_form">
                <div class="tracking_form_row">
                    <label for="tracking_input_code" class="tracking_label">Mã đơn hàng...</label>
                    <input type="text" class="input_common input_common--small tracking_input" placeholder="Mã đơn" id="tracking_input_code"/>
                </div>
                <div class="tracking_form_row">
                    <label for="tracking_input_phone" class="tracking_label">Số điện thoại</label>
                    <input type="text" class="input_common input_common--small tracking_input" placeholder="Số điện thoại" id="tracking_input_phone"/>
                </div>
                <div class="tracking_form_row text_center">
                    <button class="button_primary button_tiny tracking_btn" type="submit" disabled="">Xem ngay</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal_footer">
        <p class="font_size_xs m-0">
            Nếu có điều gì thắc mắc, quý khách vui lòng gửi
            phàn hồi <a href="#" class="color_orange">tại đây</a> hoặc hotline: 1900 988 950.
            <br/>
            Để được hỗ trợ nhanh nhất.
        </p>
    </div>
</div>