<div id="modal_create_address" class="modal modal_primary">
    <div class="modal_header">
        <h4 class="modal_title font_size_16">Thêm địa chỉ</h4>
    </div>
    <div class="modal_body">
        <div class="profile_address_form">
             <form class="profile_setting_form">
                 <div class="fieldset_common">
                     <div class="profile_setting_form_row">
                         <input type="text" class="input_common input_common--medium" id="" value="Nguyễn Quang Huy" placeholder="Nhập họ và tên của bạn ..."/>
                     </div>
                 </div>
                 <div class="fieldset_common">
                     <div class="profile_setting_form_row">
                         <input type="number" class="input_common input_common--medium" id="" value="0778491700" placeholder="Nhập họ số điện thoại ..."/>
                     </div>
                 </div>
                 <div class="fieldset_common">
                     <div class="profile_setting_form_row">
                         <input type="text" class="input_common input_common--medium mb-3" id="" value="" placeholder="Nhập địa chỉ chi tiết ..."/>
                         <div class="select_wrap medium mb-3">
                             <select name="" id="" class="select_common">
                                 <option value="">Quận/Huyện</option>
                                 <option value="">Quận/Huyện</option>
                                 <option value="">Quận/Huyện</option>
                             </select>
                         </div>
                         <div class="select_wrap medium">
                             <select name="" id="" class="select_common">
                                 <option value="">Tỉnh/Thành Phố</option>
                                 <option value="">Tỉnh/Thành Phố</option>
                                 <option value="">Tỉnh/Thành Phố</option>
                             </select>
                         </div>
                     </div>
                 </div>
             </form>
         </div>
    </div>
    <div class="modal_footer">
        <a href="javascript:void(0)" class="button_primary button_full button_small">Xác Nhận</a>
    </div>
</div>