<div class="product_gallery">
    <div class="gallery">
        <div class="row gallery_full">
            {% for i in 0..5 %}
                <a href="javascript:void(0)" class="gallery_full_thumb"><img src="http://placehold.jp/360x360.png" alt=""/></a>
            {% endfor %}
        </div>
        <div class="gallery_action">
            <!--San pham nào ko có thì bỏ đi-->
            <span class="gallery_action_countdown"><i class="far fa-clock"></i> 05:06:07:08</span>
            <!---->
            <a href="javascript:void(0)" class="gallery_action_icon share">
                <i class="fas fa-heart"></i>
            </a>
            <a href="javascript:void(0)" class="gallery_action_icon heart">
                <i class="fas fa-share-alt"></i>
            </a>
        </div>
    </div>
</div>