<div class="profile_main_tab">
    <div class="profile_tab_lst scroll_mobile_h">
        <div class="profile_tab_item active">Tất cả</div>
        <div class="profile_tab_item"><img src="/images/icon-amazon.svg" alt="" width="16"/> Amazon</div>
        <div class="profile_tab_item"><img src="/images/icons/icon-rakuten.svg" alt="" width="16"/> Rakute</div>
        <div class="profile_tab_item"><img src="/images/icon-auction.svg" alt="" width="20"/> Y! Auction</div>
        <div class="profile_tab_item"><img src="/images/icons/icon-yahoo-shopping.svg" alt="" width="16"/> Y! Shopping</div>
    </div>
</div>