#block_estimate {}
.estimate_container {}
.estimate_frm {
  .estimate_label {font-weight: $font-medium;display: block;cursor: pointer;margin: 0 0 5px}
  .estimate_input_text {flex: 1;margin-right: 4px;}
  #estimate_length,
  #estimate_width,
  #estimate_height {width: 30%}

  #estimate_city {}
  #estimate_insurrance {margin-right: 10px}
  .estimate_btn {min-width: 160px;}

  .estimate_source {display: flex;flex-wrap: wrap;
    .option_style {;margin: 0 8px 8px 0}
  }

}
.estimate_frm_row {margin-bottom: 15px}
