.languages {display: flex;align-items: center;font-size: $font-size-xs}
.language_item {flex: 1;text-align: center;margin: 0 3px;
  &.selected a {border-color: $color-orange;color: $color-orange}
  a {display: block;padding: 5px;border: solid 1px $color-bg-secondary;
    @include border-radius(5px);
  }
  img {width: 15px}
}