.popup_container {background: white;position: fixed;width: 100%;height: 100%;z-index: 111;top: 0;left: 0;opacity: 0;visibility: hidden;
  &.open {opacity: 1;visibility: visible;
    .header_search_input{}
  }
}
.popup_body {}
.popup_block {padding: 8px 0}
.popup_block_header {}
.popup_block_title {font-size: $font-size-s;font-weight: $font-medium;margin: 0 0 8px}
.popup_block_body {}
.popup_result_lst {font-size: $font-size-xs;
  @extend %reset-lst
}
.popup_result_item {
  a {display: block;padding: 4px 0}
}

.popup_choice_site {
  a {padding: 5px 10px;margin: 0 5px 5px 0;
    i {}
    img {width: 16px;vertical-align: middle;margin: 0 5px 0 0}
  }
}