.product_gallery {margin-bottom: 8px;}
.gallery {position: relative;}
.gallery_action {position: absolute;bottom: 30px;width: 100%;text-align: right;
  a.gallery_action_icon {display: inline-block;width: 30px;height: 30px;line-height: 30px;color: white;text-align: center;margin: 0 5px;
    @include border-radius(50%);
    &.share {
      @include transparent-backgound ($color-facebook,0.7);
    }
    &.heart {
      @include transparent-backgound ($color-heart,0.7);
    }
  }
  .gallery_action_countdown {background: rgba(255,255,255, 0.7);padding: 8px;
    @include border-radius(8px);
  }
}
.gallery_full {display: none;max-height: 360px;
  &.slick-initialized {display: block}
}
.gallery_full_thumb {background: $color-bg-secondary;display: block;width: 100%;height: 360px;overflow: hidden;position: relative;
  img {width: 100%;height: 100%;object-fit: contain}
}
