.process_order_container {}
.process_order_body {}
.process_order {text-align: center;margin: 0 0 15px}
.process_order_title {margin: 0 0 15px;font-weight: $font-regular}
.process_order_des {margin: 0 0 15px;}

.process_order_row {display: flex;}
.process_order_col {flex: 0 0 50%;padding: 0 10px;text-align: center;font-size: $font-size-xs;
  @media (min-width: $bp-md) {
    flex: 0 0 33.33%;font-size: $font-size-s;
  }
  .button_secondary {padding: 5px;}
}
.process_order_thumb {margin: 0 0 15px;width: 70px;
  @include border-radius(50%);
}
.process_order_name {margin: 0 0 10px;font-size: $font-size-xs}
.process_order_content {margin: 0 0 10px;}

.process_order_estimate {background: white;padding: 8px;text-align: center;
  h4 {margin: 0 0 16px}
}