{% set nav = [
    { title: "Trang chủ", icon: "fas fa-home",url: '/index.html' },
    { title: "Yahoo! auction", icon: "icon-ichiba-auction",url: '/supplier-yauction-product-list.html' },
    { title: "Yahoo! shopping", icon: "fas fa-shopping-cart",url: '/supplier-product-list.html' },
    { title: "Amazon", icon: "fab fa-amazon",url: '/supplier-product-list.html' },
    { title: "Rakuten", icon: "icon-rakuten", url: 'mobile/supplier-product-list.html' },
    { title: "List Website", icon: "far fa-list-alt", url: 'mobile/list-website.html' },
    { title: "iChiba Place", icon: "icon-ichiba-plugin", url: 'ichiba-place.html' }
] %}

{% set arrCustomerCare = [
    {title: 'Câu hỏi thường gặp', url: ''},
    {title: 'Trung tâm trợ giúp', url: ''},
    {title: 'Tổng đài tư vấn', url: ''},
    {title: 'Giải quyết khiếu nại', url: ''},
    {title: 'Ưu đãi khuyến mãi', url: ''},
] %}

<div class="menu_mobile menu_mobile_left">
    <a href="javascript:void(0)" class="menu_mobile_close">
        <i class="fas fa-times"></i>
    </a>
    <div class="menu_mobile_inner">
        <div class="menu_mobile_header">
            <h1 id="logo">
                <a href="#" title="{{ slogan }}"><img src="../../../images/logo.svg" alt="{{ slogan }}" width="165" /></a>
                <strong>{{ slogan }}</strong>
            </h1>
        </div>
        <ul class="menu_mobile_lst">
            {% for i in nav %}
                <li class="menu_mobile_item has_child">
                    <a href="{{ i.url }}" title="{{ i.title }}" class="menu_mobile_url">
                        <span class="menu_mobile_icon">
                            <i class="{{ i.icon }}"></i>
                        </span>
                        {{ i.title }}
                    </a>
                    <span class="menu_mobile_arr">
                        <i class="fas fa-angle-right"></i>
                    </span>
                    <div class="menu_mobile_sub">
                        <div class="menu_mobile_header">
                            <h2 class="menu_mobile_title">
                                <span class="menu_mobile_back">
                                    <i class="fas fa-arrow-left"></i>
                                </span> {{ i.title }}
                            </h2>
                        </div>
                        <ul class="menu_mobile_lst">
                            {% for j in 0..25 %}
                                <li class="menu_mobile_item has_child">
                                    <a href="#" title="Tin tức" class="menu_mobile_url">
                                        {{ i.title }} sub {{ j }}
                                    </a>
                                    <span class="menu_mobile_arr">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                    <div class="menu_mobile_sub">
                                        <div class="menu_mobile_header">
                                            <h2 class="menu_mobile_title">
                                                <span class="menu_mobile_back">
                                                    <i class="fas fa-arrow-left"></i>
                                                </span> {{ i.title }} Level 3
                                            </h2>
                                        </div>
                                        <ul class="menu_mobile_lst">
                                            {% for e in 0..10 %}
                                                <li class="menu_mobile_item has_child">
                                                    <a href="#" title="Tin tức" class="menu_mobile_url">
                                                        {{ i.title }} Level 3 item {{ e }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <ul class="menu_mobile_lst">
            <li class="menu_mobile_item has_child">
                <a href="" title="Tin tức" class="menu_mobile_url">
                    <span class="menu_mobile_icon">
                        <i class="far fa-newspaper"></i>
                    </span>
                    Tin tức
                </a>
                <span class="menu_mobile_arr">
                    <i class="fas fa-angle-right"></i>
                </span>
                <div class="menu_mobile_sub">
                    <div class="menu_mobile_header">
                        <h2 class="menu_mobile_title">
                            <span class="menu_mobile_back">
                                <i class="fas fa-arrow-left"></i>
                            </span> Tin Tức
                        </h2>
                    </div>
                    <ul class="menu_mobile_lst">
                        {% for i in 0..5 %}
                            <li class="menu_mobile_item">
                                <a href="" title="Tin tức" class="menu_mobile_url">
                                    Tin tức sub {{ i }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="menu_mobile_item">
                <a href="#modal_tracking_order" rel="modal:open" title="Theo dõi đơn hàng" class="menu_mobile_url">
                    <span class="menu_mobile_icon">
                        <i class="far fa-clipboard"></i>
                    </span>
                    Theo dõi đơn hàng
                </a>
                <span class="menu_mobile_arr">
                    <i class="fas fa-angle-right"></i>
                </span>
            </li>
            <li class="menu_mobile_item has_child">
                <a href="/blog-list-customer-care.html" title="Chăm sóc khách hàng" class="menu_mobile_url">
                    <span class="menu_mobile_icon">
                        <i class="fas fa-headphones-alt"></i>
                    </span>
                    Chăm sóc khách hàng
                </a>
                <span class="menu_mobile_arr">
                    <i class="fas fa-angle-right"></i>
                </span>
                <div class="menu_mobile_sub">
                    <div class="menu_mobile_header">
                        <h2 class="menu_mobile_title">
                            <span class="menu_mobile_back">
                                <i class="fas fa-arrow-left"></i>
                            </span> Chăm sóc khách hàng
                        </h2>
                    </div>
                    <ul class="menu_mobile_lst">
                        {% for h in arrCustomerCare %}
                            <li class="menu_mobile_item has_child">
                                <a href="" title="Tin tức" class="menu_mobile_url">
                                    {{ h.title }}
                                </a>
                                <span class="menu_mobile_arr">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
        <div class="menu_mobile_footer">
            <div class="menu_mobile_support">
                <a href="tel:1900988950" class="button_primary button_full">Hotline: 1900 988 950</a>
                <a href="mailto:cskh@ichiba.vn" class="button_primary button_full" target="_top">Email: cskh@ichiba.vn</a>
                <p class="font_size_12">(Hỗ trợ khách hàng từ 8-21h kể cả Thứ 7 và Chủ Nhật)</p>
            </div>

            {% include '../components//languages.twig' %}
        </div>
    </div>
</div>
