<nav id="nav_main">
    <ul class="nav_main_lst">
        <li class="nav_main_item">
            <a href="#" title="" class="nav_main_url">
                <i class="fas fa-bell"></i>
                <span>Thông báo</span>
            </a>
        </li>
        <li class="nav_main_item">
            <a href="#" title="" class="nav_main_url">
                <i class="icon-ichiba-add-cart"></i>
                <span>Giỏ hàng</span>
            </a>
        </li>
        <li class="nav_main_item">
            <a href="#" title="" class="nav_main_url">
                <i class="fas fa-heart"></i>
                <span>Yêu thích</span>
            </a>
        </li>
        <li class="nav_main_item">
            <a href="#" title="" class="nav_main_url">
                <i class="icon-ichiba-auction"></i>
                <span>Đấu giá</span>
            </a>
        </li>
        <li class="nav_main_item">
            <a href="#" title="" class="nav_main_url">
                <i class="fas fa-history"></i>
                <span>Đã xem</span>
            </a>
        </li>
    </ul>
</nav>