@mixin button_common {display: inline-block;text-align: center;outline: none;padding: 5px 10px;overflow: hidden;border: solid 1px $color-orange;cursor: pointer;
  @include border-radius(4px);
  @include transition(all .3s ease);
  img {margin-right: 5px;vertical-align: middle;width: inherit}
  i {vertical-align: middle;
    &:first-child {margin: 0 5px;}
    &:only-child {margin: 0}
  }

  &.button_micro {font-size: $font-size-xs;min-height: 24px;@include border-radius(4px);}
  &.button_tiny {font-size: $font-size-xs;min-height: 28px;@include border-radius(4px);}
  &.button_small {font-size: $font-size-s;min-height: 32px;@include border-radius(6px);}
  &.button_regular {font-size: $font-size-s;min-height: 36px;line-height: 28px;@include border-radius(6px);}
  &.button_large {font-size: $font-size-m;min-height: 40px;line-height: 28px;@include border-radius(8px);}
  &.button_full {display: block;width: 100%}

  &.disabled,
  &:disabled {background: $color-disable !important;color: $color-text-secondary !important;border-color: $color-disable !important;cursor: auto}

  &:hover {background: $color-orange-secondary;color: white}
  &:focus,
  &.active,
  &:active {background: $color-orange-third;color: white}
}

.button_primary {background: $color-orange;color: white;
  @include button_common;
}

.button_heart {
  @include button_common;
  background: white;color: $color-heart;border-color:$color-heart;
  &:hover {background: $color-heart;border-color: $color-heart;color: white}
}
.button_facebook_share {
  @include button_common;
  background: white;color: $color-facebook;border-color:$color-facebook;
  &:hover {background: $color-facebook;border-color: $color-facebook;color: white}
}

.button_secondary {
  @include button_common;
  background: white;color: $color-orange;
}
.button_secondary_gray {
  @include button_common;
  background: white;color: $color-text-input;border-color:$color-text-input;
  &:hover {background: white;border-color: $color-orange-secondary;color: $color-orange-secondary}
}
