.table_common {width: 100%;border-spacing: 0;
  thead {
    tr {}
    th {}
  }
  tbody {
    tr {}
    td {padding: 4px}
  }
  &.table_striped {
      tr:nth-of-type(odd) {background: $color-bg}
  }
}
