#page_filter {background: white}
.filter_container {}
.filter_item {margin-bottom: 8px;
  &.close {
    .filter_body {opacity: 0;visibility: hidden;overflow: hidden;height: 0;padding: 0;
      @include transition(all .3s ease);
    }
  }
}
.filter_header {background: $color-bg-third;padding: 8px;position: relative}
.filter_arrow {padding: 8px;position: absolute;right: 0;top: 0;height: 100%}
.filter_title {font-weight: $font-regular;margin: 0;font-size: $font-size-m}
.filter_body {opacity: 1;visibility: visible;height: auto;padding: 8px;}
.filter_row {}
.filter_label {margin-bottom: 8px;display: inline-block}
.filter_input_text {width: 100%}
.filter_price_converted {font-size: $font-size-xs}
.filter_unit {padding: 5px 0;display: inline-block}