.page_profile {
  &#page_profile_order_detail {padding-bottom: 100px}
}

.profile_main_tab {font-size: $font-size-s;
  .profile_tab_lst {background: $color-bg-third;margin: 0 -8px 16px -8px;border-bottom: solid 1px $color-bg-secondary;}
  .profile_tab_item {padding: 10px 8px;border-bottom: solid 2px transparent;flex: 0 0 auto;width: 33.33%;white-space: nowrap;display: flex;align-items: center;justify-content: center;
    img {margin: 0 5px 0 0}
    &.active {background: transparent;color: $color-orange;border-bottom-color: $color-orange}
  }
}

/*
.profile_function_lst {
  @extend %reset-lst;
  & > li {margin-bottom: 5px;
    & > a {display: block;background: $color-bg;font-size: $font-size-m;padding: 9px 10px;font-weight: $font-medium;
      @include border-radius(8px);
      i {margin: 0 5px 0 0}
    }
  }
}
.profile_function_sub_lst {
  @extend %reset-lst;
  padding: 0 0 0 30px;
  li {font-size: $font-size-s;padding: 3px 0}
}

//
.profile_actions {}
.action_box {background: white;display: flex;overflow: hidden;
  @include border-radius(8px);
  @include box-shadow(-2px,2px,0px,rgba(0,0,0, 0.2));
}
.action_box_icon {background: $color-orange;color: white;display: flex;align-items: center;justify-content: center;width: 80px;height: 80px;font-size: 30px}
.action_box_content {min-height: 80px;display: flex;justify-content: center;flex: 1;flex-direction: column;padding: 0 5px 0 15px;
  span.color_orange {font-size: 24px;font-weight: $font-medium}
}

//



//Profile product auction
.profile_auction_container {padding: 0 0 30px}
.profile_auction_header {}
.profile_auction_title {font-size: $font-size-m;margin: 0 0 16px;padding: 0 0 5px;border-bottom: solid 1px $color-gray}
.profile_auction_body {}
.profile_auction_row {padding: 0 0 15px 135px;position: relative;margin: 0 0 15px;border-bottom: solid 1px $color-gray;
  &:last-child {border: none}
}
.profile_auction_thumb {display: block;width: 120px;height: 120px;position: absolute;left: 0;top: 0;
  img {width: 100%;height: 100%;object-fit: cover}
}
.profile_auction_info {}
.profile_auction_name {font-weight: normal;font-size: $font-size-m;margin: 0 0 5px;
  a {
    &:hover {color: $color-orange}
  }
}
.profile_auction_meta {display: flex;font-size: $font-size-xs;margin-bottom: 5px;
  span {margin: 0 15px 0 0}
}
.profile_auction_boxes {display: flex;overflow: hidden;font-size: $font-size-xs;}
.profile_auction_box {background: $color-bg-third;display: flex;align-items: center;justify-content: center;flex-direction: column;flex: 1;padding: 10px 15px;margin: 0 20px 0 0;min-width: 135px;
  @include border-radius(8px);
  &:last-child {margin: 0}
}
.profile_auction_box_title {margin: 0 0 5px}
#profile_auction_tab {
  .tab_nav_lst .tab_item a {padding: 8px 30px}
  .tab_content_item {padding: 15px}
}

*/

//Profile Setting
#page_profile_setting {}
.profile_setting {}
.profile_setting_form {background: white;padding: 8px;margin-bottom: 36px;
  .fieldset_common {display: flex;margin: 0 0 16px}
  .input_common {width: 100%}
}
.profile_setting_form_row {width: 100%;
  &.profile_setting_gender {}
}
.profile_setting_subcribe_mail {display: flex;padding: 10px 0;
  input {margin: 15px 15px 0 0}
}
.profile_setting_submit {}


//Profile address
.profile_address_lst {padding: 0 8px}
.profile_address_title {font-size: $font-size-m;margin: 0 0 16px}
.profile_address_item {background: white;
  @include box-shadow(0,0,5px, rgba(0,0,0, 0.25));
  @include border-radius(4px);
}
.profile_address_info {padding: 8px;margin-bottom: 16px;
  .button_secondary,
  .button_secondary_gray {margin: 0 2px 0 0;
    &:last-child {margin: 0}
  }
}
.profile_address_detail {margin: 0 0 8px;line-height: 18px}
.profile_address_form {}
.profile_address_more {background: white;height: 40px;display: flex;align-items: center;justify-content: center;border: dashed 1px $color-border;color: $color-orange;font-size: $font-size-m;
  i {margin: 0 10px 0 0}
  @include border-radius(8px);
  @include transition(all .3s ease);
  &:hover {background: $color-bg-secondary}
}

//Profile Change password
#section_profile_change_password {}
.profile_change_password {
  .button_save_password,
  .button_cancel_password {margin: 0 5px;min-width: 100px}
  .profile_setting_form {padding: 8px}
}


//Profile Counpons
.profile_coupons_lst {padding: 8px 0}
.profile_coupon {overflow: hidden;margin: 0 0 16px;
  @include border-radius(8px);
  @include box-shadow(-2px,2px,0px,rgba(0,0,0, 0.2));
}
.profile_coupon_content {background: white;padding: 8px 4px}
.profile_coupon_thumb {display: block;max-height: 135px;overflow: hidden;font-size: 0;
  img {width: 100%;height: 100%;object-fit: cover}
}
.profile_coupon_name {margin:0 0 5px}
.profile_coupon_time {}



//Profile product favorite
.profile_favorite_lst {}
.profile_favorite_col {margin-bottom: 15px}
.profile_favorite_item {background: white;height: 100%;font-size: $font-size-xs;padding: 15px;position: relative;
  @include border-radius(8px);
}
.profile_favorite_header {display: flex;padding: 0 0 15px;margin-bottom: 15px;border-bottom: dashed 1px $color-bg-secondary}
.profile_favorite_name {font-size: $font-size-s;font-weight: $font-regular;margin: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
  a {}
}
.profile_favorite_thumb {width: 56px;height: 56px;display: block;margin: 0 15px 0 0;overflow: hidden;
  img {width: 100%;height: 100%;object-fit: cover}
}
.profile_favorite_info {flex: 1;padding-right: 45px}
.profile_favorite_footer {
  p {margin: 0}
}
.profile_favorite_remove {position: absolute;top: 15px;right: 15px;
  i {margin: 0 !important;}
}
.profile_favorite_empty {text-align: center;font-size: $font-size-s;
  h3 {font-size: $font-size-b;font-weight: $font-regular}
}

//Profile manage Order
.profile_order_manage {}
.profile_order {background: white;padding: 8px;margin-bottom: 16px;
  @include border-radius(4px);
}
.profile_order_header {padding: 0 0 8px;margin: 0 0 8px;border-bottom: solid $color-bg-third 1px}
.profile_order_header_icon {width: 16px;vertical-align: middle;margin: 0 5px 0 0}
.profile_order_body {}
.profile_order_item {}


.order_product {}
.order_product_row {height: 80px;overflow: hidden;display: flex;margin: 0 0 8px}
.order_product_data {margin: 0 0 8px}
.order_product_data_tbl {margin: 0 0 4px}
.order_product_thumb {width: 70px;height: 70px;display: block;font-size: 0;
  img {display: block;object-fit: contain;width: 100%;height: 100%}
}
.order_product_content {flex: 1;padding: 0 0 0 8px}
.order_product_name {font-size: $font-size-s;margin: 0 0 4px;font-weight: $font-regular}

//Profile order detail
.order_detail_header {background: white;text-align: center;margin-bottom: 16px;padding: 8px}
.order_detail_info {}

//Profile order cart
.order_quantity {display: flex;align-items: center;
  .count_box {margin: 0 8px}
  .order_quantity_remove {;margin: 0 0 0 auto;}
}

.profile_cart_bottom {background: white;position: fixed;bottom: 0;width: 100%;left: 0;padding: 4px 8px;border-top: solid 1px $color-bg-third;font-size: $font-size-s;
  .table_common {margin-bottom: 4px}
}

//Profile product list
.profile_product_list {background: white}
.profile_product_item {display: flex;padding: 8px}
.profile_product_thumb {width: 100px;height: 100px;display: block;font-size: 0;
  img {width: 100%;height: 100%;object-fit: contain}
}
.profile_product_info {padding: 0 0 0 8px;flex: 1;}
.profile_product_header {display: flex;margin: 0 0 8px}
.profile_product_label {padding: 4px;border: solid 1px $color-bg-secondary;display: flex;align-items: center;min-width: 150px;
  @include border-radius(4px);
  img {width: 16px}
  i {font-size: $font-size-m}
  div {display: flex;align-items: center;justify-content: center}
  &--left {border-right: solid 1px #E6E6E6;width: 40px;margin: 0 8px 0 0;}
  &--right {flex: 1}
}
.profile_product_name {font-weight: $font-regular;margin: 0 0 4px;font-size: $font-size-xs}
.profile_product_price {
  &.--auction {}
}
.profile_product_remove {margin: 0 0 0 auto}


//Profile Wallet
.profile_wallet_container {padding: 16px 0}
.wallet_box {background: white;padding: 16px 8px;border: solid 1px $color-bg-third;margin-bottom: 8px;text-align: center;
  @include border-radius(4px);
  &--total {display: flex;align-items: center;padding: 8px;text-align: left}
}
.wallet_box_name {font-size: $font-size-s;font-weight: $font-regular}
.wallet_box_money {color: $color-orange;font-size: $font-size-s;}

//Profile history exchange
.history_exchange {}
.history_exchange_header {margin-bottom: 16px;border-bottom: solid 1px $color-bg-third;padding: 0 0 8px;position: relative;
  &::before {content: '';background: $color-orange;display: block;width: 120px;height: 2px;position: absolute;bottom: 0;left: 0px}
}
.history_exchange_title {font-size: $font-size-s;margin: 0;font-weight: $font-medium}
.history_exchange_body {}
.history_exchange_item {background: white;border: solid 1px $color-bg-third;margin-bottom: 8px;padding: 8px;
  @include border-radius(8px);
}
.history_exchange_code {margin-bottom: 4px}
.history_exchange_content {padding-bottom: 8px;margin-bottom: 8px;border-bottom: dashed 1px $color-bg-third}
.history_exchange_tbl {width: 100%;
  tr {}
  td {padding: 4px;
    &:last-child {text-align: right}
  }
}

//Profile vip box
.profile_point_container {}
.profile_point_note {margin-bottom: 16px;
  h4 {margin: 0 0 8px;font-size: $font-size-s}
  ul {padding: 0 0 0 16px;margin: 0}
}

.profile_vip {padding: 8px 0;margin-bottom: 16px}
.profile_vip_box {background: white;padding: 16px;border: solid 1px $color-bg-third;width: 70%;flex: 0 0 70%;margin: 0 8px 0 0;
  @include border-radius(8px);
}
.profile_vip_icon {text-align: center;margin-bottom: 10px;
  i {font-size: 24px;color: $color-gray-thirdty}
  span {text-transform: uppercase;display: inline-block;margin: 5px 0 0}
}
.profile_vip_progess {background: $color-gray;height: 24px;line-height: 24px;position: relative;margin: 0 0 5px;
  @include border-radius(4px);
}
.profile_vip_loading {background: $color-orange;color: white;position: absolute;left: 0;top: 0;height: 100%;padding: 5px;width: 0;display: flex;align-items: center;
  @include border-radius(4px);
  @include transition(all .3s ease);
}
.profile_vip_flag {display: flex;justify-content: space-between;color: $color-gray-thirdty}


//Empty Block
.empty_block {text-align: center;padding: 32px}
.empty_block_img {width: 160px;margin: 0 0 16px}
.empty_block_title {font-size: $font-size-m;font-weight: $font-medium;margin: 0 0 16px}
.empty_block_text {margin: 0 0 16px}
