#page_payment {font-size: $font-size-xs;padding: 16px 0;}


.payment_section {background: white;margin-bottom: 30px;padding: 8px;
  @include border-radius(8px);
}
.payment_section_header {margin-bottom: 15px;}
.payment_section_title {margin: 0;}
.payment_section_body {}


.payment_prd_lst {}
.payment_prd_item {display: flex;margin-bottom: 15px;padding-bottom: 15px;border-bottom: dashed 1px $color-border}
.payment_prd_thumb {width: 40px;margin: 0 15px 0 0;height: 40px;position: relative;
  &::before {content: '';position: absolute;left: 0;top: 0;display:block;width: 100%;height: 100%;
    @include responsive-ratio(100%,100%);
  }
  img {object-fit: contain;width: 100%;height: 100%}
}
.payment_prd_info {flex: 1}
.payment_prd_name {margin: 0 0 5px;
  a {color: $color_link;font-weight: $font-medium}
}
.payment_prd_quantity {margin: 0 0 5px}
.payment_prd_price {}


.payment_order {}
.payment_order--top {padding: 0 0 5px;margin: 0 0 10px;border-bottom: dashed 1px $color-border;
  div {margin: 0 0 5px;padding: 0 }
}

#payment_order_tbl {
  @include border-radius(0);
  tr {}
  td {}
}

.payment_address {background: $color-base;border: solid 1px $color-border;padding: 15px 30px 15px 15px;position: relative;margin-bottom: 15px}
.payment_address_name {margin: 0 0 15px}
.payment_address_edit {position: absolute;right: 15px;top: 15px}
.payment_address_add {color: $color_link}



//Hình thức thanh toán
#payment_section_type {
  .payment_type_selector {}
  .payment_type_selector--item {background: $color-bg-secondary;display: flex;align-items: center;margin: 0 0 1px;padding: 10px 10px 10px 80px;font-size: $font-size-s;
    position: relative;
    min-height: 60px;
    color: $color-text-secondary;
    img {width: 48px;position: absolute;top: 10px;left: 10px}
    &.active{cursor: pointer;color: white;background: $color-orange;}
  }
  .payment_type {}
  .payment_type_total {margin: 0 0 15px}
  .payment_type_panel {background: white;padding: 8px 0;line-height: 22px;
    @include border-radius(8px);
    .payment_type_panel--line {margin: 0 0 5px;
      input[type="radio"] {vertical-align: middle;margin: 0 5px 0 0}
    }
  }

  .payment_type_body {background: white;padding: 8px;line-height: 22px;
    @include border-radius(8px);
  }
  .payment_type_tbl {max-width: 500px;
    tr {}
    td {padding: 5px}
    hr {margin: 5px 0;border-top-style: dashed}
    input[type="checkbox"] {margin: 0 5px 0 0}
    input[type="text"] {padding: 5px}
  }

  .payment_type_textheading {padding: 5px 0;font-weight: $font-medium;margin: 0 0 15px;font-size: $font-size-xs}
  .payment_type_tab {margin: 0 0 15px}
  .payment_type_tab_item {display: flex;
    a {display: block;width: 25%;padding: 20px 10px;text-align: center;
      &.active {background: $color-bg-third}
      img {width: 100px}
    }
  }
  .payment_type_tab_content {padding: 8px;display: none;
    &.active {background: $color-bg-third;display: block}
    h5 ,
    h6 {margin: 0 0 10px;font-size: $font-size-xs;font-weight: $font-medium}
    h5 {font-size: $font-size-s;}

    .payment_type_bank {background: white;margin: 0;border: solid 1px $color-bg-secondary;padding: 10px;width: 100%;
      @include border-radius(10px);
    }
  }

  .payment_type_locations {}
  .payment_type_location {background: $color-bg-third;padding: 8px;margin-bottom: 15px;
    @include border-radius(5px);
    h5 {margin: 0 0 8px;font-weight: $font-medium;font-size: $font-size-xs}
    p {margin: 0}
  }

  .payment_notice {background: #FFFEF9 ;border: dashed 1px #FFE9B5;padding: 8px;
    @include border-radius(8px);
  }
}

