#page_lisu {background: white}
.lisu_container {padding: 24px 32px}
.lisu_header {text-align: center;margin-bottom: 32px}
.lisu_logo {margin: 0;}
.lisu_body {margin-bottom: 16px}
.lisu_frm {display: block;width: 100%}
.lisu_frm_row {margin-bottom: 16px}
.lisu_input {width: 100%}
.lisu_remember {}
.lisu_forgot_password {}
.lisu_submit {}
.lisu_other{text-align: center}
.lisu_other_title {position: relative;margin: 0 0 16px;
  span {background: white;display: inline-block;padding: 4px 8px;z-index: 1;position: relative}
  &::before {content: '';display: block;border-top: solid 1px $color-border;width: 100%;position: absolute;top: 50%;left: 0}
}
.lisu_other_btns {display: flex;justify-content: center;padding: 0 16px;
  a {display: inline-block;width: 64px;height: 32px;line-height: 32px;text-align: center;margin: 0 8px;color: white;font-size: $font-size-b;
    @include border-radius(4px);
    &.facebook {background: $color-facebook}
    &.google {background: $color-red-thirdty}
    &.mobile {background: $color-green}
  }
}
.lisu_footer {}