{% extends "../layout/layout.twig" %}
{% block pageTitle %} Blog List - {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_blog" class="page_main">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Danh sách bài viết'} %}
        <div class="main_body">
            <div class="container-custom main_container">
                <div class="block_container">
                    <div class="block_body">
                        <div class="box_posts_top">
                            <a href="#" class="color_orange"><i class="fas fa-angle-left"></i> Quay lại</a>
                        </div>
                        <div class="box_posts_container">
                            <ul class="box_posts_list">
                                {% for i in 0..9 %}
                                    <li class="box_posts_row">
                                        <a href="#" title="" class="box_posts_thumb">
                                            <img src="http://placehold.jp/100x80.png" alt="">
                                        </a>
                                        <div class="box_posts_content">
                                            <p class="box_posts_des">
                                                <a href="#" title="">Inadequate careers advice is exacerbating
                                                    skills gap report finds 7 Affordable Items
                                                    For Your Pinterest Worthy Hari Raya ...</a>
                                            </p>
                                            <div class="box_posts_date">
                                                <time datetime="">Thứ 5 - 29 Tháng Sáu, 2019</time>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../layout/menu_mobile_left.twig" %}
    {% include "../layout/menu_mobile_right.twig" %}
{% endblock %}