{% extends "../layout/layout.twig" %}
{% block pageTitle %} {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_home" class="page_main">
        {% include "../layout/header/header.twig" %}
        {% include '../components/banner-home.twig' %}
        <div class="main_body">
            <div class="container-custom main_container">
                {% include "../components/block_suggest_for_you.twig" %}
                {% include "../components/block_store.twig" %}
                {% include "../components/process-order.twig" %}
            </div>
        </div>

        {#{% include "../layout/footer/footer.twig" %}#}
    </div>
    {% include "../layout/navigation_bottom.twig" %}
    {% include "../layout/menu_mobile_left.twig" %}
    {% include "../layout/menu_mobile_right.twig" %}

{% endblock %}