{% extends "../layout/layout.twig" %}
{% block pageTitle %} Thanh toán {% endblock %}

{% block page %}
    <div id="page_payment">
        <div class="container-custom">
            <div class="payment_section">
                <div class="payment_section_header">
                    <h3 class="payment_section_title">Đơn hàng</h3>
                </div>
                <div class="payment_section_body">
                    <div class="payment_order">
                        <div class="payment_order--top">
                            <div class="">Mã đơn hàng: <strong class="color_orange"> JP1909210001</strong></div>
                            <div class="">Ngày đặt: <strong class="color_orange"> 08:47 21/09/2019</strong></div>
                            <div class="">Trạng thái đơn hàng: <strong class="color_orange"> Tạm ứng</strong></div>
                        </div>
                        <div class="payment_prd_lst">
                            {% for i in 0..1 %}
                                <div class="payment_prd_item">
                                    <a href="#" class="payment_prd_thumb">
                                        <img src="http://placehold.jp/100x100.png" alt="" />
                                    </a>
                                    <div class="payment_prd_info">
                                        <h4 class="payment_prd_name">
                                            <a href="#" title="">itDEAL スマートウォッチ ブレスレット iphone Android line対応 心拍計血圧計 腕時計 着信通知 ipx67防水 Bluetooth GPS 歩数計測 スポーツ</a>
                                        </h4>
                                        <div class="payment_prd_quantity">Số lượng: 1</div>
                                        <div class="payment_prd_price">
                                            Gía (+VAT): <span class="color_orange">3,999 ¥ (915,77đ)</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <table class="table_common table_primary table_striped" id="payment_order_tbl">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Tổng tiền sản phẩm</span>
                                        <span>3,999 ¥ ~ 915,771 đ</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Tổng phí mua hộ (tạm tính)</span>
                                        <span>3,999 ¥ ~ 915,771 đ</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Phí vận chuyển tại Nhật</span>
                                        <span>Đang cập nhật</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Phí vận chuyển quốc tế</span>
                                        <a href="#" class="color-orange">click để ước tính</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Phí giao hàng tại Việt Nam</span>
                                        <span>Đang cập nhật</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Tổng tiền (tạm tính)</span>
                                        <strong class="color_orange">979,875 đ</strong>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Phụ phí (tạm tính)</span>
                                        <span>Đang cập nhật</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Đã thanh toán</span>
                                        <span class="">0đ</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <strong class="">Tổng cần tất toán (tạm tính)</strong>
                                        <strong class="color_orange">979,875 đ</strong>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="payment_section">
                <div class="payment_section_header">
                    <h3 class="payment_section_title">Thông tin thanh toán</h3>
                </div>
                <div class="payment_section_body">
                    <table class="table_common table_primary table_striped" id="">
                        <body>
                        <tr>
                            <td>Hình thức thanh toán</td>
                            <td>Thanh toán bằng ví</td>
                        </tr>
                        <tr>
                            <td>Loại thanh toán</td>
                            <td>Thanh toán bằng ví</td>
                        </tr>
                        <tr>
                            <td>Số tiền</td>
                            <td>
                                <span class="color_orange">1.000.000đ</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Trạng thái</td>
                            <td>
                                <span class="color_green">Đã thanh toán</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Ghi chú</td>
                            <td>
                                Ghi chú cái gì đấy!
                            </td>
                        </tr>
                        </body>
                    </table>
                </div>
            </div>
            {% include '../components/payment_section_type.twig' %}
        </div>
    </div>
{% endblock %}

