{% extends "../layout/layout.twig" %}
{% block pageTitle %}Sản phẩm vừa xem - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_product_favorite">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Sản phẩm vừa xem'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}
                <div class="empty_block">
                    <img src="../../images/product-like-empty.png" alt="" class="empty_block_img"/>
                    <h3 class="empty_block_title">
                        Chưa có sản phẩm yêu thích
                    </h3>
                    <p class="empty_block_text">
                        Hãy <i class="far fa-heart color_heart"></i> sản phẩm bạn yêu thích khi mua sắm để xem lại thuận tiện nhất <i class="far fa-smile color_orange"></i>
                    </p>
                    <a href="" class="button_primary button_full button_small">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

