{% extends "../layout/layout.twig" %}
{% block pageTitle %} Cửa hàng yêu thích - {{ slogan }}{% endblock %}

{% block page %}

    <div class="page_profile" id="page_profile_store">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Cửa hàng yêu thích'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}
                <div class="empty_block">
                    <img src="../../images/store-empty.png" alt="" class="empty_block_img"/>
                    <h3 class="empty_block_title">
                        Chưa có cửa hàng yêu thích
                    </h3>
                    <p class="empty_block_text">
                        Hãy <i class="far fa-heart color_heart"></i> của hàng bạn yêu thích khi mua sắm để quay lại thuận tiện nhất <i class="far fa-smile color_orange"></i>
                    </p>
                    <a href="" class="button_primary button_full button_small">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

