{% extends "../layout/layout.twig" %}
{% block pageTitle %} Profile Change Password {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_change_password" class="page_main page_profile">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Đổi mật khẩu'} %}
        <div class="main_body">
            <div class="container-custom main_container">
                <div class="profile_change_password">
                    <form class="profile_setting_form">
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row">
                                <input type="password" class="input_common input_common--large" id="" value="" placeholder="Mật khẩu hiện tại"/>
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row">
                                <input type="password" class="input_common input_common--large" id="" value="" placeholder="Mật khẩu mới"/>
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row">
                                <input type="password" class="input_common input_common--large" id="" value="" placeholder="Nhập lại mật khẩu mới"/>
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <label for="input_name">&nbsp;</label>
                            <div class="profile_setting_form_row d-flex justify-content-center">
                                <button class="button_secondary_gray button_large button_cancel_password">Huỷ</button>
                                <button class="button_primary button_large button_save_password">Xác nhận <i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}