{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ưu đãi của tôi - {{ slogan }}{% endblock %}

{% block page %}

    <div class="page_profile" id="page_profile_coupons">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Ưu đãi của tôi'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                <div class="profile_coupons_lst">
                    <div class="row">
                        {% for i in 0..9 %}
                            <div class="col-md-3 col-6">
                                <div class="profile_coupon">
                                    <a href="#" class="profile_coupon_thumb">
                                        <img src="http://placehold.jp/430x270.png" alt=""/>
                                    </a>
                                    <div class="profile_coupon_content">
                                        <h4 class="profile_coupon_name"><a href="#" title="Voucher thời trang">Voucher thời trang</a></h4>
                                        <div class="profile_coupon_time">
                                            Từ 23:00 - 16/01/2019 <br/>
                                            Đến 23:00 - 20/01/2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

