{% extends "../layout/layout.twig" %}
{% block pageTitle %} Giỏ hàng của bạn - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_order_detail">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Giỏ hàng của bạn'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}
                <div class="profile_order_manage">
                    {% for i in 0..2 %}
                    <div class="profile_order">
                        <div class="profile_order_header">
                            <div class=""><img src="/images/icon-amazon.svg" alt="" class="profile_order_header_icon" /> Amazon - <a href="#" class="color_orange">Tên Shop</a></div>
                        </div>
                        <div class="profile_order_body">
                            <div class="row profile_order_item">
                                <div class="col-md-6 order_product">
                                    <div class="order_product_row">
                                        <a href="#" title="" class="order_product_thumb">
                                            <img src="http://placehold.jp/360x360.png" alt=""/>
                                        </a>
                                        <div class="order_product_content">
                                            <h3 class="order_product_name">
                                                <a href="#" title="">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除 docomo softbank 1円スタート 最低落札なし jetblack</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="order_product_data">
                                        <table class="table_common order_product_data_tbl">
                                            <tr>
                                                <td>Mã SP: <span class="color_orange">#ICB2911994</span></td>
                                                <td>Size: <span class="color_orange">M</span></td>
                                            </tr>
                                            <tr>
                                                <td>Màu: <span class="color_orange">Charcoal Fabric</span></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Giá sản phẩm:</td>
                                                <td class="color_orange">
                                                    <span class="font_size_14">20.000.000¥</span><br/>
                                                    <span>4.000.000.000đ</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="order_quantity">
                                            <span>Số lượng:</span>
                                            <div class="count_box">
                                                <button type="button" id="" class="button_minus" data-field="quantity">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <input type="number" id="1" value="1" min="1" class="count_box_input" name="quantity">
                                                <button type="button" id="" class="button_plus" data-field="quantity">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            <a href="#" class="button_secondary_gray button_tiny order_quantity_remove"><i class="far fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <table class="table_common table_striped" id="">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <strong>Tổng giá sản phẩm</strong>
                                            </td>
                                            <td class="text_right color_orange">
                                                <strong>12,720,000,000đ</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí mua hộ
                                            </td>
                                            <td class="text_right">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí chuyển hàng tại Nhật
                                            </td>
                                            <td class="text_right">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí chuyển hàng quốc tế
                                            </td>
                                            <td class="text_right">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí giao hàng tại Việt Nam
                                            </td>
                                            <td class="text_right">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Đã tạm ứng
                                            </td>
                                            <td class="text_right color_green">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="font_size_14">Đặt cọc tối thiểu</span>
                                            </td>
                                            <td class="text_right">
                                                <span class="color_orange font_size_14 fw_medium">
                                                    12,720,000,000đ
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text_right">
                                                <a href="#" class="button_secondary_gray button_tiny">Huỷ</a>
                                                <a href="#" class="button_primary button_tiny">Đặt hàng</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="profile_cart_bottom">
                    <div class="container_custom">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <table class="table_common">
                                    <tr>
                                        <td>Tổng giỏ hàng</td>
                                        <td class="text_right"><span class="color_orange">4.000.000.000đ</span></td>
                                    </tr>
                                    <tr>
                                        <td>Đặt cọc tối thiểu</td>
                                        <td class="text_right"><span class="color_orange">4.000.000.000đ</span></td>
                                    </tr>
                                </table>
                                <a href="#" class="button_primary button_full button_small">Đặt hàng toàn bộ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

