{% extends "../layout/layout.twig" %}
{% block pageTitle %} Tích điểm - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_point">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Tích điểm'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                <div class="profile_point_container">
                    <div class="profile_vip scroll_mobile_h">
                        <div class="profile_vip_box">
                            <div class="profile_vip_icon">
                                <i class="fas fa-medal"></i>
                                <br>
                                <span>Vip 1</span>
                            </div>
                            <div class="profile_vip_progess">
                                <div class="profile_vip_loading">
                                    <span>25%</span>
                                </div>
                            </div>
                            <div class="profile_vip_flag">
                                <span class="start">0</span>
                                <span class="end">1000</span>
                            </div>
                        </div>
                        <div class="profile_vip_box">
                            <div class="profile_vip_icon">
                                <i class="fas fa-medal"></i>
                                <i class="fas fa-medal"></i>
                                <br>
                                <span>Vip 2</span>
                            </div>
                            <div class="profile_vip_progess">
                                <div class="profile_vip_loading">
                                    <span>50%</span>
                                </div>
                            </div>
                            <div class="profile_vip_flag">
                                <span class="start">0</span>
                                <span class="end">1000</span>
                            </div>
                        </div>
                        <div class="profile_vip_box">
                            <div class="profile_vip_icon">
                                <i class="fas fa-medal"></i>
                                <i class="fas fa-medal"></i>
                                <i class="fas fa-medal"></i>
                                <br>
                                <span>Vip 3</span>
                            </div>
                            <div class="profile_vip_progess">
                                <div class="profile_vip_loading">
                                    <span>75%</span>
                                </div>
                            </div>
                            <div class="profile_vip_flag">
                                <span class="start">0</span>
                                <span class="end">1000</span>
                            </div>
                        </div>
                        <div class="profile_vip_box">
                            <div class="profile_vip_icon">
                                <i class="fas fa-medal"></i>
                                <i class="fas fa-medal"></i>
                                <i class="fas fa-medal"></i>
                                <i class="fas fa-medal"></i>
                                <br>
                                <span>Vip 4</span>
                            </div>
                            <div class="profile_vip_progess">
                                <div class="profile_vip_loading">
                                    <span>100%</span>
                                </div>
                            </div>
                            <div class="profile_vip_flag">
                                <span class="start">0</span>
                                <span class="end">1000</span>
                            </div>
                        </div>
                    </div>
                    <div class="profile_point_note">
                        <h4>* Note</h4>
                        <ul>
                            <li>Điểm số được tính dựa trên lượng tiền bạn đã giao dịch thành công trên <a class="color_orange" href="iChiba.vn">iChiba.vn</a></li>
                            <li>Điểm tích lũy này rất quan trọng. Chúng tôi có rất nhiều ưu đãi đặc dành cho những khách hàng thân thiết</li>
                            <li>Giá trị quy đổi là <span class="color_orange">100.000đ = 1 điểm</span></li>
                        </ul>
                    </div>
                </div>


                {% include '../components/history_exchange.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

