{% extends "../layout/layout.twig" %}
{% block pageTitle %}Sản phẩm yêu thích - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_product_favorite">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Sản phẩm yêu thích'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}

            </div>
        </div>
    </div>
{% endblock %}

