{% extends "../layout/layout.twig" %}
{% block pageTitle %}Sản phẩm vừa xem - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_product_recent_view">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Sản phẩm vừa xem'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}
                <div class="row profile_product_list">
                    {% for i in 0..3 %}
                    <div class="col-md-6 profile_product_item">
                        <a href="#" title="" class="profile_product_thumb">
                            <img src="http://placehold.jp/360x360.png" alt=""/>
                        </a>
                        <div class="profile_product_info">
                            <div class="profile_product_header">
                                <div class="profile_product_label">
                                    <div class="profile_product_label--left">
                                        <img src="../../images/icon-auction.svg" alt=""/>
                                    </div>
                                    <div class="profile_product_label--right">
                                        <span>05:14:59:59</span>
                                    </div>
                                </div>
                                <a href="#" class="button_secondary_gray profile_product_remove">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                            <h2 class="profile_product_name">
                                <a href="#" title="ASUS VivoBook F510UA 15.6” Full HD Nanoedge ...">ASUS VivoBook F510UA 15.6” Full HD Nanoedge ...</a>
                            </h2>
                            <div class="profile_product_price">
                                <span class="color_orange font_size_14">60,000,000¥</span><br/>
                                <span class="color_orange">12,720,000,000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 profile_product_item">
                        <div class="profile_product_thumb">
                            <a href="#" title="">
                                <img src="http://placehold.jp/360x360.png" alt=""/>
                            </a>
                        </div>
                        <div class="profile_product_info">
                            <div class="profile_product_header">
                                <div class="profile_product_label">
                                    <div class="profile_product_label--left">
                                        <img src="../../images/icon-amazon.svg" alt=""/>
                                    </div>
                                    <div class="profile_product_label--right">
                                        <span>05:14:59:59</span>
                                    </div>
                                </div>
                            </div>
                            <h2 class="profile_product_name">
                                <a href="#" title="ASUS VivoBook F510UA 15.6” Full HD Nanoedge ...">ASUS VivoBook F510UA 15.6” Full HD Nanoedge ...</a>
                            </h2>
                            <div class="row profile_product_price profile_product_price--auction">
                                <div class="col-6">
                                    Giá hiện tại <br/>
                                    <span class="color_orange font_size_14">60,000,000¥</span><br/>
                                    <span class="color_orange">12,720,000,000đ</span>
                                </div>
                                <div class="col-6">
                                    Giá mua ngay <br/>
                                    <span class="color_orange font_size_14">60,000,000¥</span> <br/>
                                    <span class="color_orange">12,720,000,000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

