{% extends "../layout/layout.twig" %}
{% block pageTitle %} Mã ĐH: #ICB2911994 - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_order_detail">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Mã ĐH: #ICB2911994'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                <div class="row order_detail_header">
                    <div class="col">
                        Chi tiết đơn hàng #ICB2911994 <br/>
                        04:23 - 20/03/2019 - <span class="color_orange">Đang xử lý</span>
                    </div>
                </div>
                <div class="block_container">
                    <div class="block_header">
                        <h3 class="block_title">Thông tin nhận hàng</h3>
                    </div>
                    <div class="block_body">
                        <table>
                            <tr>
                                <td>Họ và tên:</td>
                                <td>Nguyễn Văn A</td>
                            </tr>
                            <tr>
                                <td>Số điện thoại:</td>
                                <td>012 345 6789</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>anv@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Địa chỉ:</td>
                                <td>
                                    số 20 Làng mơ, Xã Đại Mạch, Huyện Đông Anh, Hà Nội
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="block_container">
                    <div class="block_header">
                        <h3 class="block_title">Thông tin thanh toán</h3>
                    </div>
                    <div class="block_body">
                        <table>
                            <tr>
                                <td>Số tài khoản:</td>
                                <td>0881000451717</td>
                            </tr>
                            <tr>
                                <td>Tên chủ tài khoản:</td>
                                <td>Công Ty Cổ Phần iChiba Việt Nam</td>
                            </tr>
                            <tr>
                                <td>Chi nhánh:</td>
                                <td>Chi nhánh Thăng Long</td>
                            </tr>
                            <tr>
                                <td>Tỉnh/ Thành phố:</td>
                                <td>
                                    TP. Hà Nội
                                </td>
                            </tr>
                            <tr>
                                <td>Nội dung:</td>
                                <td>
                                    [Mã đơn hàng] + [Ngày tháng] + [Số điện thoại]
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="profile_order_manage">
                    <div class="profile_order">
                        <div class="profile_order_header">
                            <div class="mb-2"><img src="/images/icon-amazon.svg" alt="" class="profile_order_header_icon" /> Amazon - <a href="#" class="color_orange">Tên Shop</a></div>
                            <div>Mã ĐH: <span class="color_orange">#HN98099</span> - <span class="color_orange">Đang xử lý</span></div>
                        </div>
                        <div class="profile_order_body">
                            <div class="row profile_order_item">
                                <div class="col-md-6 order_product">
                                    <div class="order_product_row">
                                        <a href="#" title="" class="order_product_thumb">
                                            <img src="http://placehold.jp/360x360.png" alt=""/>
                                        </a>
                                        <div class="order_product_content">
                                            <h3 class="order_product_name">
                                                <a href="#" title="">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除 docomo softbank 1円スタート 最低落札なし jetblack</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="order_product_data">
                                        <table class="table_common order_product_data_tbl">
                                            <tr>
                                                <td>Mã SP: <span class="color_orange">#ICB2911994</span></td>
                                                <td align="right">Số lượng: 01</td>
                                            </tr>
                                            <tr>
                                                <td>Trạng thái</td>
                                                <td align="right"><span class="color_orange">Đang xử lý</span></td>
                                            </tr>
                                            <tr>
                                                <td>Giá:</td>
                                                <td align="right"><span class="color_orange">10.000.000đ</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <table class="table_common table_striped" id="">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <strong>Tổng giá sản phẩm</strong>
                                            </td>
                                            <td class="text_right color_orange">
                                                <strong>12,720,000,000đ</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí mua hộ
                                            </td>
                                            <td class="text_right">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí chuyển hàng tại Nhật
                                            </td>
                                            <td class="text_right">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí chuyển hàng quốc tế
                                            </td>
                                            <td class="text_right">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí giao hàng tại Việt Nam
                                            </td>
                                            <td class="text_right">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Đã tạm ứng
                                            </td>
                                            <td class="text_right color_green">
                                                12,720,000,000đ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="font_size_14">Tổng cần tất toán</span>
                                            </td>
                                            <td class="text_right">
                                                <span class="color_orange font_size_14 fw_medium">
                                                    12,720,000,000đ
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="">
                                                <div class="mb-2">
                                                    <a href="#" class="button_primary button_full button_tiny button_purchase">Tất toán đơn hàng</a>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="#" class="button_secondary_gray button_tiny button_full">Huỷ</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <a href="#modal_complain" rel="modal:open" class="button_secondary button_tiny button_full">Khiếu nại</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../components/modal_complain.twig' %}
{% endblock %}

