{% extends "../layout/layout.twig" %}
{% block pageTitle %}Sản phẩm vừa xem - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_product_recent_view">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Sản phẩm vừa xem'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}
                <div class="empty_block">
                    <img src="../../images/product-view-empty.png" alt="" class="empty_block_img"/>
                    <h3 class="empty_block_title">
                        Chưa xem sản phẩm nào
                    </h3>
                    <p class="empty_block_text">
                        Hình như bạn vẫn chưa xem sản phẩm nào!
                    </p>
                    <a href="" class="button_primary button_full button_small">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

