{% extends "../layout/layout.twig" %}
{% block pageTitle %} Cửa hàng yêu thích - {{ slogan }}{% endblock %}

{% block page %}

    <div class="page_profile" id="page_profile_store">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Cửa hàng yêu thích'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}

                <div class="profile_favorite_lst">
                    <div class="row">
                        {% for i in 0..5 %}
                            <div class="col-md-6 profile_favorite_col">
                                <div class="profile_favorite_item">
                                    <a href="#" class="button_secondary_gray button_micro profile_favorite_remove"><i class="far fa-trash-alt"></i></a>
                                    <div class="profile_favorite_header">
                                        <a class="profile_favorite_thumb">
                                            <img src="http://placehold.jp/56x56.png" alt=""/>
                                        </a>
                                        <div class="profile_favorite_info">
                                            <h4 class="profile_favorite_name">
                                                <a href="#" title="Peter Mckinnon">Peter Mckinnon</a>
                                            </h4>
                                            <div class="mb-1">
                                                Độ uy tín: <span class="color_orange">100%</span>
                                            </div>
                                            <div class="profile_assess_icons">
                                                <span class="product_assess_icon">100 <i class="far fa-sun color_orange"></i></span>
                                                <span class="product_assess_icon">100 <i class="fas fa-cloud color_gray"></i> </span>
                                                <span class="product_assess_icon">100 <i class="fas fa-umbrella color_blue"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile_favorite_footer">
                                        <p>Cửa hàng nhập khẩu giày Adidas chính hãng giá rẻ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 profile_favorite_col">
                                <div class="profile_favorite_item">
                                    <a href="#" class="button_secondary_gray button_micro profile_favorite_remove"><i class="far fa-trash-alt"></i></a>
                                    <div class="profile_favorite_header">
                                        <a class="profile_favorite_thumb">
                                            <img src="http://placehold.jp/56x56.png" alt=""/>
                                        </a>
                                        <div class="profile_favorite_info">
                                            <h4 class="profile_favorite_name">
                                                <a href="#" title="Peter Mckinnon">Peter Mckinnon</a>
                                            </h4>
                                            <div class="mb-1">
                                                Độ uy tín: <span class="color_orange">100%</span>
                                            </div>
                                            <strong class="source_stars">
                                                <span style="width: 100%"></span>
                                            </strong>
                                            <div>20.000 Bình luận</div>
                                        </div>
                                    </div>
                                    <div class="profile_favorite_footer">
                                        <p>Cửa hàng nhập khẩu giày Adidas chính hãng giá rẻ</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

