{% extends "../layout/layout.twig" %}
{% block pageTitle %} Sign up - {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_lisu" class="page_main">
        {% include "../layout/header/header_secondary.twig"  with {title: 'Đăng ký'}  %}
        <div class="main_body">
            <div class="container-custom main_container">
                <div class="row lisu_container">
                    <div class="col-12">
                        <div class="lisu_header">
                            <h2 class="lisu_logo">
                                <a href="#" title="{{ slogan }}" class=""><img src="../../../images/logo-2.svg" alt="{{ slogan }}"/></a>
                            </h2>
                        </div>
                        <div class="lisu_body">
                            <form action="" class="lisu_frm">
                                <div class="lisu_frm_row">
                                    <input type="text" placeholder="Họ và tên ..." id="lisu_input_fullname" class="input_common input_common--medium lisu_input" />
                                </div>
                                <div class="lisu_frm_row">
                                    <input type="text" placeholder="Số điện thoại..." id="lisu_input_phone" class="input_common input_common--medium lisu_input" />
                                </div>
                                <div class="lisu_frm_row">
                                    <input type="text" placeholder="Email" id="lisu_input_email" class="input_common input_common--medium lisu_input mb-2" />
                                    <div class="lisu_frm_note">
                                        <input type="checkbox"/>
                                        <label for="" class="font_size_12">
                                            Hãy tích vào đây để nhận được nhưng thông tin khuyến mãi sớm nhất.
                                        </label>
                                    </div>
                                </div>
                                <div class="lisu_frm_row">
                                    <input type="password" placeholder="Nhập mật khẩu ..." id="lisu_input_email" class="input_common input_common--medium lisu_input" />
                                </div>
                                <div class="lisu_frm_row">
                                    <input type="password" placeholder="Nhập lại mật khẩu ..." id="lisu_input_reemail" class="input_common input_common--medium lisu_input" />
                                </div>

                                <div class="lisu_frm_row">
                                    <button class="button_primary button_full button_large lisu_submit">Đăng ký</button>
                                </div>
                            </form>

                        </div>
                        <div class="lisu_footer">
                            Khi bạn nhấn Đăng ký, nghĩa là bạn đã đồng ý thực
                            hiện mọi giao dịch mua bán theo Điều kiện sử dụng
                            & Chính sách của iChiba.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}