{% extends "../layout/layout.twig" %}
{% block pageTitle %} Supplier product detail - {{ slogan }}{% endblock %}
{% block page %}

    <div id="" class="page_main">
        {% include "../layout/header/header_thirdty.twig" with { title : 'Tên sản phâm'} %}
        <div class="main_body">
            <div class="container-custom main_container">
                <div class="product_main_tab">
                    <div class="tab_nav_lst product_tab_lst scroll_mobile_h">
                        <div class="tab_item product_tab_item active">Sản phẩm</div>
                        <div class="tab_item product_tab_item">Mô tả</div>
                        <div class="tab_item product_tab_item">thông tin</div>
                        <div class="tab_item product_tab_item">Đánh giá</div>
                        <div class="tab_item product_tab_item">Người bán</div>
                        <div class="tab_item product_tab_item">Hỏi đáp</div>
                    </div>
                    <div class="tab_content product_tab_content">
                        <div class="tab_content_item active">
                            {% include "../components/product_gallery.twig" %}
                            {% include "../components/product_tab_default.twig" %}
                        </div>
                        <div class="tab_content_item">
                            {% include "../components/product_tab_des.twig" %}
                        </div>
                        <div class="tab_content_item">
                            {% include "../components/product_tab_info.twig" %}
                        </div>
                        <div class="tab_content_item">
                            {% include "../components/product_tab_review.twig" %}
                        </div>
                        <div class="tab_content_item">
                            {% include "../components/product_tab_seller.twig" %}
                        </div>
                        <div class="tab_content_item">
                            {% include "../components/product_tab_qa.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product_source_grp_btn">
        <a href="javascript:void(0)" class="button_primary button_large">
            <i class="icon-ichiba-add-cart"></i> <br/> Mua ngay
        </a>
        <a href="javascript:void(0)" class="button_secondary button_large">
            <i class="icon-ichiba-add-cart"></i> <br/> Thêm giỏ hàng
        </a>
    </div>
    {% include "../components/modal_shop_same_sale.twig" %}
{% endblock %}