{% extends "../layout/layout.twig" %}
{% block pageTitle %} Supplier home mobile {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_supplier" class="page_main">
        {% include "../layout/header/header.twig" %}
        {% include '../components/banner-home.twig' %}
        <div class="main_body">
            <div class="container-custom main_container">
                {% include "../components/block_supplier_category.twig" %}
                {% include "../components/block_supplier_suggest.twig" %}
                {% include "../components/block_supplier_popular.twig" %}
            </div>
        </div>

        {#{% include "../layout/footer/footer.twig" %}#}
    </div>
    {% include "../layout/navigation_bottom.twig" %}
    {% include "../layout/menu_mobile_left.twig" %}
    {% include "../layout/menu_mobile_right.twig" %}

{% endblock %}