{% extends "../layout/layout.twig" %}
{% block pageTitle %} Supplier popular - {{ slogan }}{% endblock %}
{% block page %}

    <div id="" class="page_main">
        {% include "../layout/header/header.twig" %}
        <div class="main_body">
            <div class="container-custom main_container">
                <div class="block_container" id="">
                    <div class="block_body">
                        <ul class="tab_nav_lst tab_nav_lst--primary scroll_mobile_h" id="">
                            <li class="tab_item active"><a href="javascript:void(0)" title="Product & Department stores" class="active">Product & Department stores</a></li>
                            <li class="tab_item"><a href="javascript:void(0)" title="Toys & Games">Toys & Games</a></li>
                            <li class="tab_item"><a href="javascript:void(0)" title="Condom">Condom</a></li>
                            <li class="tab_item"><a href="javascript:void(0)" title="Brazzers">Brazzers</a></li>
                            <li class="tab_item"><a href="javascript:void(0)" title="Xvideo">Xvideo</a></li>
                        </ul>
                        <div class="category_grid">
                            <div class="category_grid_row">
                                {% for i in 0..7 %}
                                    <div class="category_grid_col">
                                        <a href="#" class="category_grid_item">
                                            <img src="http://placehold.jp/230x195.png" alt=""/>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {#{% include "../layout/footer/footer.twig" %}#}
    </div>
    {% include "../layout/navigation_bottom.twig" %}
    {% include "../layout/menu_mobile_left.twig" %}
    {% include "../layout/menu_mobile_right.twig" %}


{% endblock %}